<nav class="navbar  navbar-expand-lg navbar-dark bg-danger">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="!userService.loggedIn()" href="/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="!userService.loggedIn()" href="#" (click)="newUser($event)">Register <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
          <a class="nav-link" *ngIf="!userService.loggedInDonor() && userService.loggedIn()" (click)=donorNavigate()>Donors <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" *ngIf="!userService.loggedInDonor() && userService.loggedIn()" (click)=myDonorNavigate()>My Donors<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link"  *ngIf="!userService.loggedInAcceptor() && userService.loggedIn()"  (click)=acceptorNavigate()>acceptor <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/contact">Contact<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
          </li>
          
      <li class="nav-item active">
        <a class="nav-link" *ngIf="userService.loggedIn()" href="#" (click)="userService.loggedOut()">Logout <span class="sr-only">(current)</span></a>
      </li>
    </ul>
   
  </div>
</nav>